@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');


@font-face {
    font-family: 'SamsungSharpSans';
    src: url('../fonts/SamsungSharpSans-Bold.woff2') format('woff2'),
         url('../fonts/SamsungSharpSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}