
// colors
$color-pimary: #23d87d;
$color-secondary: #462be2;
$color-bg-section: #252f5a;
$color-bg-sectin-secondary: #ffe07d;

// fonts
$font-primary: 'Manrope', sans-serif;
$font-secondary: 'SamsungSharpSans', sans-serif;
